.title {
   background-color: rgb(242, 242, 242);
   height:50px;
   display:grid;
   grid-template-columns: fit-content(10%) 1fr fit-content(10%);
   grid-template-rows: auto;
   align-items: center;
   box-shadow: 0 2px 5px rgb(194, 194, 194);
   margin-bottom: 4px;
}

.title > div {
    display:inline-block;
    position: relative;
}

.column-1 {
    padding:0 5px;
}

.column-2 {
    text-align: center;
}

.column-2 > h3 {
    color:red;
    margin: 0;
}