.new-item {
    display:grid;
    grid-template-columns: 1fr fit-content(10%);
    min-height: 40px; 
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 2px solid rgb(194, 194, 194);
}

.new-item > div > textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    word-wrap: break-word;
    margin-left:3px;
}

.new-item-button {
  background-color:rgb(10, 191, 97);
  color:white;
  height:25px;
  width:25px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;;
  line-height:20px;
  border-radius: 5px;
  cursor:pointer;
  margin-left: auto;
  margin-right:10px;
}

.new-item-button:active {
    background-color: rgb(0, 134, 65);
}

.item {
    display:grid;
    grid-template-columns: 5% 75% 20%;
    grid-template-rows: auto;
    padding-top: 3px;
    min-height:40px;
    border-bottom: 2px solid rgb(194, 194, 194);
    text-align: justify;
 }

.item-buttons {
    margin-left:auto;
    margin-right:10px;
    display: grid;
    grid-template-rows: repeat(auto-fit,(minmax(25px, 1fr)));
}

.like-button {
    margin-top:auto;
    margin-bottom:2px;
}

.item-buttons > i > span {
    font-size:5px;
}
/* .item-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;;
} */

.item-title {
    font-size: 15px;
    font-weight: bold;
    margin:0;
}
       
.item-buttons > i > span {
    font-size:11px;
}

.close-button {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: white;
    font-size: 10px;
}

.close-button:hover {
    border: 1px solid red;
    color: red;
}

.save-button {
    width: 37px;
    height: 20px;
    background-color: #145cf2;
    color:white;
    border: 1px solid #145cf2;
    font-size: 10px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.save-button:hover {
    background-color: white;
    color: #145cf2;
}

.fa-face-grin {
    align-self: flex-end;
    padding: 4px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 
        2px 0 black, 0 -2px black;
    font-size: 14px;
    cursor: pointer;
}