.new-item {
    display:grid;
    grid-template-columns: 90% 10%;    
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 2px solid rgb(194, 194, 194);
}

.new-item > div > textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    word-wrap: break-word;
    margin-left:3px;
}

.new-item-button {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(10, 191, 97);
    color: white;
    font-size: 25px;
    line-height: 0;
    font-weight: bold;
    cursor:pointer;
}

.new-item-button:active {
    background-color: rgb(0, 134, 65);
}

.item {
    display:grid;
    grid-template-columns: 90% 10%;    
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 2px solid rgb(194, 194, 194);
 }

.item-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;;
}

.item-title {
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
    margin:0;
}

.item-buttons {
    position: absolute;
    bottom: 0;
    right: 5px;    
    display: flex;
    gap: 5px;
}

.item-buttons > i > span {
    font-size:11px;
}

.new-item-buttons {
    align-self: flex-end;
    margin-bottom: 3px;
}

.close-button {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: white;
    font-size: 10px;
}

.close-button:hover {
    border: 1px solid red;
    color: red;
}

.save-button {
    width: 37px;
    height: 20px;
    background-color: #145cf2;
    color:white;
    border: 1px solid #145cf2;
    font-size: 10px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.save-button:hover {
    background-color: white;
    color: #145cf2;
}

.fa-face-grin {
    align-self: flex-end;
    padding: 4px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 
        2px 0 black, 0 -2px black;
    font-size: 14px;
    cursor: pointer;
}