.App {
  display: grid;
  grid-template-columns: auto;
}
items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.add-item {
  width: 456px;
  height: 30px;
  background-color: rgb(244, 244, 244);
  margin:0 auto 15px auto;
  text-align: center;
  cursor: pointer;
}

.add-item:hover {
  background-color: rgb(238, 238, 238);
}